body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

h2 {
  color: #2c3e50;
}

input {
  padding: 10px;
  width: 60%;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1f6391;
}

#listaTareas {
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tarea span {
  flex: 1;
  text-align: left;
}

/* Estados del check */
.no-realizada {
  color: orange;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
}

.realizada {
  color: green;
  margin: 0 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Botón eliminar */
.eliminar {
  color: red;
  cursor: pointer;
  font-size: 20px;
}